<div class="jumbotron">
	<div class="container">
		
    		<h1>Bienvenido</h1>
    	
    		<p>Unete en la red de Recetas de todo el mundo para Compartir al Mundo, registrate o logueate </p>
    	
  </div>
</div>
 

