<footer class="navbar navbar-fixed-bottom">
	 <div class= "small">
	   <a href="#">Recetas CopyRight</a>
	   por Jean Cardenas
	 </div>
	
		<ul>
			<li><%= link_to " About", root_path, class:"glyphicon glyphicon-question-sign" %></li>
			<li><%= link_to " Contact", root_path, class:"glyphicon glyphicon-book"%></li>
		</ul>
	
</footer>